
@media (min-width: 451px) {
  .hide-on-small {
    display: block;
  }
  .show-on-small {
    display: none;
  }
  .export-icon {
  display: none;
}

}


@media (max-width: 450px) {
  .hide-on-small {
    display: none;
  }
  .show-on-small {
    display: block;
  }
  .export-button {
    display: none;
  }
  .export-icon {
    display: inline-flex;
  }
  .search {
    width: 140px;
  }
}


