<app-loading style="text-align: center" *ngIf="busy"></app-loading>
<form [formGroup]="form" class="card form-container py-2 mt-1 p-fluid p-formgrid grid p-0 col-12" (keydown.enter)="submit()">
  <div class="col-12 md:col-5">
    <span class="font-bold block mb-2">Nome do Produto</span>
    <input class="w-full" pTooltip="Nome do produto"
    tooltipPosition="top" pInputText id="product" formControlName="title"
      [ngClass]="{'uk-form-danger': (!form.controls['title'].valid && !form.controls['title'].pristine) }" />
  </div>
  <!-- <div class="form-item">
    <span class="font-bold block mb-2">Status</span>
    <p-dropdown [options]="status" formControlName="status" id="status" inputId="statusDropdown"
      [ngClass]="{'uk-form-danger': (!form.controls['status'].valid && !form.controls['status'].pristine) }"></p-dropdown>
  </div> -->
  <div class="col-12 md:col-2">
    <span class="font-bold block mb-2">Ação</span>
    <div class="actions-container" style="display: flex;">
      <p-button icon="pi pi-check" label="Salvar" (click)="submit()" *ngIf="!busy" style="margin-right: 10px;"></p-button>
      <p-button class="p-button-danger" label="Cancelar" icon="pi pi-times" (click)="resetForm();" styleClass="p-button-danger"></p-button>
    </div>
  </div>
</form>



<div class="card pt-1 pb-1 mb-0">
  <p-toast></p-toast>
  <div class="col pr-0 mr-0 pl-0 ml-0">
    <span class="p-input-icon-left align-items-center justify-content-center">
      <i class="pi pi-search"></i>
      <input pTooltip="Digite o nome do produto para pesquisa" tooltipPosition="top"  class="search" pInputText type="text" [(ngModel)]="searchQuery" (ngModelChange)="search()"
        placeholder="Pesquisar produtos..." />
    </span>
    <p-button icon="pi pi-times" styleClass=" p-button-danger p-button-text" (onClick)="clearSearch()"
      [disabled]="!searchQuery"></p-button>
      <div class="col-12 md:col-2 text-center md:text-left btn">
        <p-button class="pdf" icon="pi pi-file-pdf" iconPos="right" label="Gerar PDF" (click)="generatePDF(nome, endereco, telefone, cnpj)"></p-button>
      </div>
  </div>
  <p-table [value]="productsBuy" selectionMode="multiple" [(selection)]="selectedProducts" [metaKeySelection]="metaKeySelection" dataKey="_id" editMode="row" [scrollable]="true"
  scrollHeight="460px" class="responsive-table" [globalFilterFields]="['title']">
    <ng-template pTemplate="header">
      <tr >
        <th style="width:25%"> Produto
        </th>
        <th  style="width:10%">Status
        </th>
        <th style="width:5%">Ação</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
      <tr [pSelectableRow]="product" [pEditableRow]="product">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText [(ngModel)]="product.title" />
            </ng-template>
            <ng-template pTemplate="output">
              {{product.title}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown [options]="status" appendTo="body" [(ngModel)]="product.status" [style]="{'width':'100%'}"></p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              <div [ngClass]="{
                'afazer': product.status === 'A fazer',
                'pedidofeito': product.status === 'Pedido feito'
              }">
                <span>{{ product.status }}</span>
              </div>
            </ng-template>
          </p-cellEditor>
        </td>
        <td style="text-align: center">
          <div class="flex align-items-center justify-content-center gap-2">
            <button *ngIf="!editing" pButton pRipple type="button" pTooltip="Editar item"
            tooltipPosition="top" pInitEditableRow icon="pi pi-pencil"
              (click)="onRowEditInit(product)" class="p-button-rounded p-button-warning p-button-outlined">
            </button>
            <button *ngIf="editing" pButton pRipple type="button" pTooltip="Salvar"
            tooltipPosition="top" pSaveEditableRow icon="pi pi-check"
              (click)="onRowEditSave(product)" class="p-button-rounded p-button-text p-button-success mr-2">
            </button>
            <button *ngIf="editing" pButton pRipple type="button" pTooltip="Cancelar"
            tooltipPosition="top" pCancelEditableRow icon="pi pi-times"
              (click)="onRowEditCancel(product, ri)" class="p-button-rounded p-button-text p-button-danger">
            </button>
            <p-button *ngIf="!editing" icon="pi pi-trash" pTooltip="Excluir item"
                    tooltipPosition="top"
              styleClass="p-button-rounded p-button-danger p-button-outlined" [swal]="{
              title: 'atenção',
              background: '#737373',
              width: 300,
              color:'#fff',
              text: 'Deseja realmente excluir o produto: '+ product.title + '?',
              showDenyButton: true,
              denyButtonText: 'Não',
              confirmButtonText: 'Sim',
              icon: 'warning'
              }" (confirm)="deleteProduct(product._id)"></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

