.quote-card {
  border: 1px solid #2c2c2c;
  padding: 16px;
  margin: 8px 0;
  border-radius: 8px;
  background-color: #575454;
}

.quote-card table {
  width: 100%;
  margin-top: 8px;
  border-collapse: collapse;
  margin-bottom: 1vw;
}

.quote-card th, .quote-card td {
  border: 1px solid #3f3e3e;
  padding: 8px;
  text-align: left;
}

.quote-card th {
  background-color: #312f2f;
}
