<app-loading style="text-align: center" *ngIf="busy"></app-loading>

<div class="mt-3 surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <div
      style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
      <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
        <div class="text-center mb-5">
          <div class="text-900 text-3xl font-medium mb-3">Alterar Senha</div>
        </div>
        <div [formGroup]="form">
          <label class="block text-900 text-xl font-medium mb-2">Nome</label>
          <input formControlName="name" type="text" placeholder="Nome" pInputText class="w-full md:w-30rem mb-5"
            style="padding:1rem">
          <label class="block text-900 font-medium text-xl mb-2">Nova Senha</label>
          <p-password formControlName="password" placeholder="Nova Senha"
            [ngClass]="{ 'ng-dirty': form.controls['password'].invalid && form.controls['password'].touched }" ng-dirty
            inputStyleClass="w-full p-3 md:w-30rem" [feedback]="false"></p-password>
          <label class="block text-900 font-medium text-xl mb-2 pt-5">Confirmar Nova Senha</label>
          <p-password formControlName="confirmarSenha" placeholder="Confirmar Nova Senha"
            [ngClass]="{ 'ng-dirty': form.controls['confirmarSenha'].invalid && form.controls['confirmarSenha'].touched }"
            ng-dirty inputStyleClass="w-full p-3 md:w-30rem" [feedback]="false"></p-password>
          <small
            *ngIf="form.hasError('mismatch') && (form.controls['confirmarSenha'].dirty || form.controls['confirmarSenha'].touched)"
            class=" flex text-red-500">As senhas não coincidem</small>
            <label class="block text-900 font-medium text-xl mb-2 pt-5">Nova senha Vendas</label>
          <p-password formControlName="pass" placeholder="Senha - vendas"
            [ngClass]="{ 'ng-dirty': form.controls['pass'].invalid && form.controls['pass'].touched }"
            ng-dirty inputStyleClass="w-full p-3 md:w-30rem" [feedback]="false"></p-password>
          <div class="card flex justify-center">
            <button pButton pRipple label="Salvar" class="w-full p-3 text-xl" (click)="submit()"></button>
            <span class="block pr-3"></span>
            <button pButton pRipple label="Cancelar" class="w-full p-3 text-xl" (click)="resetForm()"></button>
            <span class="block pr-3"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
