<app-loading style="text-align: center" *ngIf="busy"></app-loading>


<div [formGroup]="form" class="card form-container p-fluid py-4 p-formgrid formgrid grid">
  <div class="col-12 md:col-3">
    <span class="font-bold block mb-2 truncate" pTooltip="Nome do Produto" tooltipPosition="top">Nome do Produto</span>
    <input pInputText class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      id="product" formControlName="title"
      [ngClass]="{'uk-form-danger': (!form.controls['title'].valid && !form.controls['title'].pristine) }"
      pTooltip="Nome do Produto" tooltipPosition="top">
  </div>
  <div class="col-12 md:col-2">
    <span class="font-bold block mb-2 truncate" pTooltip="Quantidade" tooltipPosition="top">Estoque</span>
    <p-inputNumber styleClass="w-full" formControlName="quantity" id="productQuantity" inputId="integeronly"
      [ngClass]="{'uk-form-danger': (!form.controls['quantity'].valid && !form.controls['quantity'].pristine) }"
      pTooltip="Estoque" tooltipPosition="top"></p-inputNumber>
  </div>
  <div class="col-12 md:col-2">
    <span class="font-bold block mb-2 truncate" pTooltip="Quantidade mínima" tooltipPosition="top">Estoque mínimo</span>
    <p-inputNumber styleClass="w-full" formControlName="min_quantity" id="productMinQuantity" inputId="integeronly"
      [ngClass]="{'uk-form-danger': (!form.controls['min_quantity'].valid && !form.controls['min_quantity'].pristine) }"
      pTooltip="Estoque mínimo" tooltipPosition="top"></p-inputNumber>
  </div>
  <div class="col-12 md:col-2">
    <span class="font-bold block mb-2 truncate" pTooltip="Custo" tooltipPosition="top">Valor de compra</span>
    <p-inputNumber styleClass="w-full" formControlName="purchasePrice" inputId="currency-us" mode="currency"
      currency="BRL" locale="pt" id="productPurchasePrice"
      [ngClass]="{'uk-form-danger': (!form.controls['purchasePrice'].valid && !form.controls['purchasePrice'].pristine) }"
      pTooltip="Valor de compra" tooltipPosition="top"></p-inputNumber>
  </div>
  <div class="col-12 md:col-2">
    <span class="font-bold block mb-2 truncate" pTooltip="Valor de venda" tooltipPosition="top">Valor de venda</span>
    <p-inputNumber styleClass="w-full" formControlName="price" inputId="currency-us" mode="currency" currency="BRL"
      locale="pt" id="productPrice"
      [ngClass]="{'uk-form-danger': (!form.controls['price'].valid && !form.controls['price'].pristine) }"
      pTooltip="Valor de venda" tooltipPosition="top"></p-inputNumber>
  </div>
  <div class="col-12 buttons-container">
    <p-button class="mr-2" icon="pi pi-check" label="Salvar" (click)="submit()" *ngIf="!busy"></p-button>
    <p-button class="p-button-danger" label="Cancelar" icon="pi pi-times" (click)="resetForm();" styleClass="p-button-danger"></p-button>
  </div>
</div>
