/* .p-card-entrances {
  background-color: #4caf50;
  color: #fff;
}

.p-card-exits {
  background-color: #f44336;
  color: #fff;
}

.p-card-result {
  background-color: #2196f3;
  color: #fff;
}

.p-card-subtitle {
  font-size: 2rem;
  font-weight: bold;
}

.positive {
  color: #4caf50;
}

.negative {
  color: #f44336;
} */
