<div class="card flex flex-wrap gap-3 justify-content-center">
  <p-button icon="pi pi-chart-bar"  [routerLink]="['/features/invoicing']" label="Faturamento"
    styleClass="p-button-success p-button-outlined"></p-button>
  <p-button icon="pi pi-chart-line" [routerLink]="['/features/details']" label="Detalhes"
    styleClass="p-button-warning p-button-outlined"></p-button>
  <p-button icon="pi pi-chart-bar" [routerLink]="['/features/exits']" label="Saídas"
    styleClass="p-button-danger p-button-outlined"></p-button>
</div>
<app-details-chart-page></app-details-chart-page>
